<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>학사관리 | 수강신청</title>
    <link rel="stylesheet" href="index.css" th:href="@{/css/course/enroll.css}">

    <script src="https://kit.fontawesome.com/61293ff96f.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section class="enroll-main">
            <section class="enroll-section">
                <!--    개설과목 조회       -->
                <div class="div-course">
                    <h2>개설 강의 조회</h2>
                    <form class="div-course-form" th:action="@{/course/enroll}" method="get">
                        <label class="div-form-inputlabel">
                            <input type="text" name="code" id="course-code-tag" placeholder="교과목코드" oninput="updateCourseName()"/>
                        </label>
                        <label class="div-form-inputlabel">
                            <input type="text" name="lectureName" id="course-name-tag" placeholder="교과목명" disabled />
                        </label>
                        <button id="course-find-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>조회</span>
                    </button>
                    </form>
                </div>
                <!--     개설 교과목 목록       -->
                <div class="div-class">
                    <table id="div-class-table">
                        <thead>
                            <tr>
                                <th>순번</th>
                                <th>구분</th>
                                <th>학년</th>
                                <th>학점</th>
                                <th>신청</th>
                                <th>교과목코드</th>
                                <th>교과목명</th>
                                <th>담당교수</th>
                                <th>강의시간</th>
                                <th>강의요일</th>
                                <th>강의실</th>
                                <th>잔여</th>
                            </tr>
                        </thead>
                        <tbody id="course-table-tbody">
                            <tr th:each="lecture, stat:${enroll.get('allEnrollCourse')}">
                                <td>[[${stat.count}]]</td>
                                <td>[[${lecture.type}]]</td>
                                <td>[[${lecture.courseYear}]]</td>
                                <td>[[${lecture.credit}]]</td>
                                <td>
                                    <button class="class-btn" th:if="${lecture.stdNo == null && !lecture.status}" th:onclick="|class_registration(${lecture.code}, this)|">수강</button>
                                    <button class="class-btn" th:if="${lecture.stdNo != null && lecture.status}" disabled>수강신청완료</button>
                                </td>
                                <td>[[${lecture.code}]]</td>
                                <td>[[${lecture.lectureName}]]</td>
                                <td>[[${lecture.professor}]]</td>
                                <td>[[${lecture.starTime}]] ~ [[${lecture.endTime}]]</td>
                                <td>[[${lecture.week}]]</td>
                                <td>[[${lecture.room}]]</td>
                                <td> [[${lecture.numOfStudent}]] / [[${lecture.capacity}]] </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr/>
                <!--    수강확정내역        -->
                <div class="div-list">
                    <section class="section-list-head">
                        <h2>수강확정내역</h2>
                        <div>
                            <span>잔여 학점 : </span>
                            <span>
                                [[${remainingCredits}]]
                            </span>
                        </div>
                        <div>
                            <span>신청 학점 : </span>
                            <span>
                                [[${totalCredits}]]
                            </span>
                        </div>
                        <div>
                            <span>수강최대학점 : </span>
                            <span>[[${T(com.academic.dto.StdEnrollCourseDTO).ALLCREDIT}]]</span>
                        </div>
                    </section>
                    <section class="section-list">
                        <table>
                            <thead>
                            <tr>
                                <th>순번</th>
                                <th>구분</th>
                                <th>학년</th>
                                <th>학점</th>
                                <th>교과목코드</th>
                                <th>교과목명</th>
                                <th>담당교수</th>
                                <th>강의시간</th>
                                <th>강의요일</th>
                                <th>강의실</th>
                            </tr>
                            </thead>
                            <tbody id="enrolled-list-tbody">
                                <tr th:each="list, stat:${enroll.get('stdEnrollCourse')}">
                                    <td>[[${stat.count}]]</td>
                                    <td>[[${list.type}]]</td>
                                    <td>[[${list.year}]]</td>
                                    <td>[[${list.credit}]]</td>
                                    <td>[[${list.code}]]</td>
                                    <td>[[${list.lectureName}]]</td>
                                    <td>[[${list.professor}]]</td>
                                    <td>[[${list.starTime}]] ~ [[${list.endTime}]]</td>
                                    <td>[[${list.week}]]</td>
                                    <td>[[${list.room}]]</td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td>1</td>-->
<!--                                    <td>전공</td>-->
<!--                                    <td>1</td>-->
<!--                                    <td>3</td>-->
<!--                                    <td>12345</td>-->
<!--                                    <td>컴퓨터 구조</td>-->
<!--                                    <td>김길동</td>-->
<!--                                    <td>9:00 ~ 11:00</td>-->
<!--                                    <td>월</td>-->
<!--                                    <td>교육관 1실</td>-->
<!--                                    <td><span class="class-sign-new">신규</span></td>-->
<!--                                </tr>-->
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </section>
        <!-- 수강 신청 버튼 클릭 시 나오는 안내창 -->
        <section id="user-info-modal" class="user-info-modal">
            <div>
                <span id="modal-message">수강 신청 되었습니다.</span>
                <button type="button" id="modal-close-btn">확인</button>
            </div>
        </section>
    </main>
</body>
</html>
